.typing.animate {
    width: 21ch;
    border-right: 0.1em solid rgba(0, 0, 0, 0.247);
    text-shadow: 5px 5px 5px black, 0px 0px 2px black;
    color: aliceblue;
    font-family: STKaiti;
    font-size: 5em;
    animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 2s steps(22, end) 6s forwards;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.typing.animate::before {
    content: "从全国统一战争结束";
    animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 21ch;
    }
}

@keyframes type2 {
    from {
        width: 14ch;
        content: "从全国统一战争胜利"
    }
    to {
        width: 20ch;
        content: "从全国统一战争胜利"
    }
}

@keyframes type3 {
    from {
        width: 20ch;
        content: "从全国统一战争胜利 到新中国成立！"
    }
    to {
        width: 35ch;
        content: "从全国统一战争胜利 到新中国成立！"
    }
}

@keyframes writer {
    50% {
        border-color: transparent;
    }
}

@keyframes delete {
    from {
        width: 21ch;
    }
    to {
        width: 16ch;
    }
}

/*文本框*/
#CCTPText{
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    /*position: absolute;*/
    /*left: 150px;*/
    /*bottom: 200px;*/
    /* 设置边框局和行间距 */
    padding: 5px; line-height: 35px;
    outline: none;
    font-size: 23px;
    /* font-family: 华文楷体, sans-serif; */
    border: rgba(255, 255, 255, 0);
    resize: none;
    overflow: hidden;
    border-radius: 20px;
    /*起初不可见*/
    visibility: hidden
}

#returnBut{
    border-radius: 10px;
    margin-left: 95px;
    background-color: grey;
    border: 0;
    width: 150px;
    height: 50px;
    /* 字体设置 */
    font-size: 25px;
    font-weight: bold;
    font-family: 宋体, sans-serif;
    /*起初不可见*/
    visibility: hidden;
    outline: none;
}